USE [CORSEC]
GO
/****** Object:  Table [dbo].[tbl_Berita_Artikel]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Berita_Artikel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](500) NULL,
	[body] [varchar](max) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Berita_Artikel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Board_Speech_Presentation]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Board_Speech_Presentation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](1000) NULL,
	[body] [varchar](max) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[data_type] [int] NULL,
	[data_year] [int] NULL,
 CONSTRAINT [PK_tbl_Board_Speech_Presentation_Data] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Board_Speech_Presentation_File]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Board_Speech_Presentation_File](
	[file_id] [varchar](100) NOT NULL,
	[ref_name] [varchar](200) NULL,
	[ref_id] [varchar](50) NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_size] [varchar](20) NULL,
	[file_blob] [image] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
 CONSTRAINT [PK_tbl_Board_Speech_Presentation_File] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_brand_Communication_Campaign_logo]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_brand_Communication_Campaign_logo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[file_size] [varchar](50) NULL,
	[logo_type] [int] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_brand_Communication_Campaign_logo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_brand_Communication_Campaign_user_manual]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_brand_Communication_Campaign_user_manual](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](1000) NULL,
	[body] [varchar](max) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[logo_type] [int] NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[file_size] [varchar](50) NULL,
	[image_type] [varchar](50) NULL,
	[image_path] [varchar](max) NULL,
	[image_name] [varchar](255) NULL,
	[image_ext] [varchar](10) NULL,
	[image_blob] [image] NULL,
	[image_size] [varchar](50) NULL,
	[image_desc] [varchar](500) NULL,
 CONSTRAINT [PK_tbl_brand_Communication_Campaign_user_manual] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_brand_equity]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_brand_equity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](1000) NULL,
	[body] [varchar](max) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_brand_equity] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_brand_Exhibition]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_brand_Exhibition](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](500) NULL,
	[body] [varchar](max) NULL,
	[location] [varchar](100) NULL,
	[award] [varchar](100) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_brand_Exhibition] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_brand_Exhibition_File]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_brand_Exhibition_File](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[file_size] [varchar](50) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[exhibition_id] [int] NULL,
	[file_desc] [varchar](1000) NULL,
	[exhibition_type] [int] NULL,
 CONSTRAINT [PK_tbl_brand_Exhibition_File] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_brand_guideline]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_brand_guideline](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[logo_name] [varchar](200) NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[file_size] [varchar](50) NULL,
	[logo_type] [int] NULL,
 CONSTRAINT [PK_tbl_brand_guideline] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_brand_guideline_aplikasi_inspirasi]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_brand_guideline_aplikasi_inspirasi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](500) NULL,
	[body] [varchar](max) NULL,
	[logo_type] [int] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_brand_guideline_aplikasi_inspirasi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_brand_guideline_aplikasi_inspirasi_detail]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_brand_guideline_aplikasi_inspirasi_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[logo_type] [int] NULL,
	[title] [varchar](500) NULL,
	[body] [varchar](max) NULL,
	[image_type] [varchar](50) NULL,
	[image_path] [varchar](max) NULL,
	[image_name] [varchar](255) NULL,
	[image_ext] [varchar](10) NULL,
	[image_blob] [image] NULL,
	[image_size] [varchar](50) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_brand_guideline_aplikasi_inspirasi_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_brand_guideline_logo]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_brand_guideline_logo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[file_size] [varchar](50) NULL,
	[logo_type] [int] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_brand_guideline_logo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_brand_guideline_user_manual]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_brand_guideline_user_manual](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](1000) NULL,
	[body] [varchar](max) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[logo_type] [int] NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[file_size] [varchar](50) NULL,
	[image_type] [varchar](50) NULL,
	[image_path] [varchar](max) NULL,
	[image_name] [varchar](255) NULL,
	[image_ext] [varchar](10) NULL,
	[image_blob] [image] NULL,
	[image_size] [varchar](50) NULL,
	[image_desc] [varchar](500) NULL,
 CONSTRAINT [PK_tbl_brand_guideline_user_manual] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_brand_Sponsorship]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_brand_Sponsorship](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](500) NULL,
	[body] [varchar](max) NULL,
	[location] [varchar](100) NULL,
	[award] [varchar](100) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_brand_Sponsorship] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_brand_Sponsorship_File]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_brand_Sponsorship_File](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[file_size] [varchar](50) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[sponsorship_id] [int] NULL,
	[file_desc] [varchar](1000) NULL,
	[sponsorship_type] [int] NULL,
 CONSTRAINT [PK_tbl_brand_Sponsorship_File] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_bulan]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_bulan](
	[nama] [varchar](50) NULL,
	[id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_bulan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Collateral_Corporate_Detail]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Collateral_Corporate_Detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[body] [varchar](5000) NULL,
	[seq] [int] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[category] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Collateral_Corporate_Detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Collateral_Corporate_Item]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Collateral_Corporate_Item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category] [varchar](100) NULL,
	[title] [varchar](1000) NULL,
	[body] [varchar](5000) NULL,
	[year] [int] NULL,
	[seq] [int] NULL,
	[calender_type] [varchar](100) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Collateral_Corporate_Item] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Combo_Detail]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Combo_Detail](
	[name] [varchar](1000) NULL,
	[parent] [varchar](1000) NULL,
	[header] [varchar](1000) NULL,
	[sequence] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tbl_combo_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_CorporateCommunication_Category]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_CorporateCommunication_Category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[Name] [varchar](5000) NULL,
	[Deleted] [int] NULL,
	[Sequence] [int] NULL,
 CONSTRAINT [PK_tbl_CorporateCommunication_Cateory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_CorporateCommunication_Corporate]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_CorporateCommunication_Corporate](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_size] [varchar](20) NULL,
	[file_blob] [image] NULL,
	[downloaded] [int] NULL,
	[title] [varchar](5000) NULL,
	[body] [varchar](max) NULL,
	[Jenis_Laporan] [varchar](50) NULL,
	[Laporan_Bulanan_Fungsi] [int] NULL,
	[Laporan_Bulanan_Unit] [int] NULL,
	[Laporan_Bulanan_Region] [int] NULL,
	[Laporan_Triwulan_QPI_Fungsi] [int] NULL,
	[Laporan_Triwulan_QPI_Unit] [int] NULL,
	[Laporan_Triwulan_QPI_Region] [int] NULL,
	[last_downloaded] [datetime] NULL,
 CONSTRAINT [PK_tbl_CorporateCommunication_korporate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_CorporateCommunication_Krisis]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_CorporateCommunication_Krisis](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_size] [varchar](20) NULL,
	[file_blob] [image] NULL,
	[downloaded] [int] NULL,
	[title] [varchar](5000) NULL,
	[body] [varchar](max) NULL,
	[SubCategory] [int] NULL,
	[Jenis_Documen] [int] NULL,
	[Tahun] [int] NULL,
 CONSTRAINT [PK_tbl_CorporateCommunication_Krisis] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_CorporateCommunication_Sub_Category]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_CorporateCommunication_Sub_Category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[Category] [bigint] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[Name] [varchar](5000) NULL,
	[Deleted] [int] NULL,
	[Sequence] [int] NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_tbl_CorporateCommunication_Sub_Cateory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_CSR_SMEP_Program]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_CSR_SMEP_Program](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [varchar](5000) NULL,
	[body] [varchar](max) NULL,
	[data_type] [int] NULL,
	[year] [int] NULL,
	[bulan] [int] NULL,
	[related_document] [int] NULL,
	[category] [int] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_size] [varchar](20) NULL,
	[file_blob] [image] NULL,
	[is_dynamic] [int] NULL,
	[ROW_NUMBER] [int] NULL,
 CONSTRAINT [PK_tbl_CSR_SMEP_Program] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_CSR_SMEP_Program_Category]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_CSR_SMEP_Program_Category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[Name] [varchar](5000) NULL,
	[Deleted] [int] NULL,
	[Sequence] [int] NULL,
 CONSTRAINT [PK_tbl_CSR_SMEP_Program_Cateory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_CSR_SMEP_Program_Related_Document]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_CSR_SMEP_Program_Related_Document](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[Name] [varchar](5000) NULL,
	[Deleted] [int] NULL,
	[Sequence] [int] NULL,
 CONSTRAINT [PK_tbl_CSR_SMEP_Program_Related_Document] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Design_Grafis]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Design_Grafis](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [varchar](1000) NULL,
	[body] [varchar](max) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[data_type] [int] NULL,
	[img_type] [varchar](50) NULL,
	[img_path] [varchar](max) NULL,
	[img_name] [varchar](255) NULL,
	[img_ext] [varchar](10) NULL,
	[img_blob] [image] NULL,
	[img_size] [varchar](50) NULL,
	[data_year] [int] NULL,
 CONSTRAINT [PK_tbl_Design_Grafis] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Design_Grafis_File]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Design_Grafis_File](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [varchar](1000) NULL,
	[body] [varchar](max) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[design_grafis_id] [bigint] NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[file_size] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Design_Grafis_File] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Design_Grafis_Video]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Design_Grafis_Video](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[design_grafis_id] [bigint] NULL,
	[file_type] [varchar](50) NULL,
	[file_physical_path] [varchar](max) NULL,
	[file_virtual_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[file_size] [varchar](50) NULL,
	[file_duration] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Design_Grafis_Video] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Email_Template]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Email_Template](
	[code] [varchar](50) NOT NULL,
	[subject] [varchar](4000) NULL,
	[body] [text] NULL,
	[body_backup] [text] NULL,
 CONSTRAINT [PK_tbl_Template] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Event]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Event](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](500) NULL,
	[body] [varchar](max) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Event] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Featured_Article]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Featured_Article](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](500) NULL,
	[body] [varchar](max) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[youtube_code] [varchar](500) NULL,
 CONSTRAINT [PK_tbl_Featured_Article] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_File]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_File](
	[file_id] [varchar](100) NOT NULL,
	[ref_name] [varchar](200) NULL,
	[ref_id] [varchar](50) NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
 CONSTRAINT [PK_FRM_GLOB_ATTACH] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_File_Program]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_File_Program](
	[file_id] [varchar](100) NOT NULL,
	[ref_name] [varchar](200) NULL,
	[ref_id] [varchar](50) NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
 CONSTRAINT [PK_tbl_File_Program] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_File_Template]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_File_Template](
	[file_id] [varchar](100) NOT NULL,
	[ref_name] [varchar](200) NULL,
	[ref_id] [varchar](50) NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[template_header] [varchar](500) NULL,
	[template_title] [nchar](500) NULL,
	[template_desc] [varchar](max) NULL,
	[template_type] [int] NULL,
	[file_size] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_template_file] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Footer]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Footer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[footer] [varchar](500) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Footer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Footer_Detail]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Footer_Detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[footer] [int] NULL,
	[footer_text] [varchar](5000) NULL,
	[footer_link] [varchar](5000) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Footer_Detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Guidelines_Doc]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Guidelines_Doc](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[No_Dokumen] [varchar](500) NULL,
	[Tipe_Dokumen] [varchar](50) NULL,
	[Judul] [varchar](5000) NULL,
	[Tahun] [int] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Guidelines_Doc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Guidelines_File]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Guidelines_File](
	[file_id] [varchar](100) NOT NULL,
	[ref_name] [varchar](200) NULL,
	[ref_id] [varchar](50) NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
 CONSTRAINT [PK_tbl_Guidelines_File] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Info]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Info](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](500) NULL,
	[body] [varchar](max) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Info] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Kinerja_Sekper]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Kinerja_Sekper](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[semester] [int] NULL,
	[tahun] [int] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Kinerja_Sekper] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Kinerja_Sekper_File]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Kinerja_Sekper_File](
	[file_id] [varchar](100) NOT NULL,
	[ref_name] [varchar](200) NULL,
	[ref_id] [varchar](50) NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_size] [varchar](20) NULL,
	[file_blob] [image] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
 CONSTRAINT [PK_tbl_Kinerja_Sekper_File] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Kinerja_Sekper_Info]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Kinerja_Sekper_Info](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[header] [varchar](500) NULL,
	[title] [varchar](500) NULL,
	[body] [varchar](max) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Kinerja_Sekper_Info] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Log]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Log](
	[LogDate] [datetime] NULL,
	[IPAddress] [varchar](15) NULL,
	[LogType] [varchar](50) NULL,
	[LongMessage] [text] NULL,
	[ShortMessage] [varchar](5000) NULL,
	[Username] [varchar](100) NULL,
	[MechineName] [varchar](200) NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tbl_log] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Media]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Media](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [varchar](1000) NULL,
	[body] [varchar](max) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[infographic_type] [int] NULL,
	[infographic_year] [int] NULL,
	[img_type] [varchar](50) NULL,
	[img_path] [varchar](max) NULL,
	[img_name] [varchar](255) NULL,
	[img_ext] [varchar](10) NULL,
	[img_blob] [image] NULL,
	[img_size] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Infographic] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Media_File]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Media_File](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [varchar](1000) NULL,
	[body] [varchar](max) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[infographic_id] [bigint] NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[file_size] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Infographic_file] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Media_Video]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Media_Video](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[infographic_id] [bigint] NULL,
	[file_type] [varchar](50) NULL,
	[file_physical_path] [varchar](max) NULL,
	[file_virtual_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[file_size] [varchar](50) NULL,
	[file_duration] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Media_Video] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Menu]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Menu](
	[ID] [int] NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[Description] [varchar](5000) NULL,
	[Icon] [varchar](50) NULL,
	[Url] [varchar](500) NULL,
	[ParentID] [int] NULL,
	[Sequence] [int] NULL,
	[Deleted] [int] NULL,
	[MenuType] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tbl_Menu_New] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Privilege]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Privilege](
	[MenuID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[AllowCreate] [int] NULL,
	[AllowRead] [int] NULL,
	[AllowUpdate] [int] NULL,
	[AllowDelete] [int] NULL,
	[AllowPrint] [int] NULL,
 CONSTRAINT [PK__tbl_priv__71317EB385AD93A7] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_product]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](1000) NULL,
	[body] [varchar](max) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[SKU] [varchar](100) NULL,
	[Estimasi_Harga_Mulai] [decimal](18, 0) NULL,
	[Estimasi_Harga_Hingga] [decimal](18, 0) NULL,
	[Min_Quantity] [int] NULL,
	[Kategori] [varchar](200) NULL,
	[product_type] [int] NULL,
 CONSTRAINT [PK_tbl_product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_product_contact_person]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_product_contact_person](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[phone] [varchar](500) NULL,
	[email] [varchar](500) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_product_contact_person] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_product_File]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_product_File](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[file_size] [varchar](50) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
	[product_id] [int] NULL,
	[file_desc] [varchar](1000) NULL,
	[Merchandise_Type] [int] NULL,
 CONSTRAINT [PK_tbl_product_File] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_product_related]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_product_related](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NULL,
	[product_parent_id] [bigint] NULL,
 CONSTRAINT [PK_tbl_product_related] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_product_wishlist]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_product_wishlist](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[Username] [varchar](50) NULL,
	[Created] [datetime] NULL,
 CONSTRAINT [PK_tbl_product_wishlist] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Profile_Strategic_Partner]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Profile_Strategic_Partner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](500) NULL,
	[body] [varchar](max) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[tab_text] [varchar](500) NULL,
 CONSTRAINT [PK_tbl_Strategic_Partner] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Profile_Visi_Misi]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Profile_Visi_Misi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](500) NULL,
	[SubTitle] [varchar](5000) NULL,
	[Contents] [varchar](max) NULL,
	[Visi] [varchar](5000) NULL,
	[Misi] [varchar](5000) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[tab_text] [varchar](500) NULL,
	[Visi_Content] [varchar](max) NULL,
	[Misi_Content] [varchar](max) NULL,
 CONSTRAINT [PK_tbl_Visi_Misi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Program]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Program](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](1000) NULL,
	[body] [varchar](max) NULL,
	[prog_type] [int] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[img_position] [int] NULL,
 CONSTRAINT [PK_tbl_Program] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Role]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](1000) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](20) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](20) NULL,
 CONSTRAINT [PK__tbl_role__3214EC2748CFD27E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Session]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Session](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_session] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Setting]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Setting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](500) NULL,
	[value] [varchar](max) NULL,
	[description] [varchar](5000) NULL,
 CONSTRAINT [PK_tbl_settings] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Stake_Holder_Management_Country]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Stake_Holder_Management_Country](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[country] [varchar](500) NULL,
	[sequence] [int] NULL,
	[deleted] [int] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Stake_Holder_Management_Country] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Stake_Holder_Management_Diplomatic_Intelegence]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Stake_Holder_Management_Diplomatic_Intelegence](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_size] [varchar](20) NULL,
	[file_blob] [image] NULL,
	[title] [varchar](5000) NULL,
	[body] [varchar](max) NULL,
	[country] [int] NULL,
	[data_type] [int] NULL,
	[year] [int] NULL,
 CONSTRAINT [PK_tbl_Stake_Holder_Management_Diplomatic_Intelegence] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Stake_Holder_Management_Stake_Holder_Database]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Stake_Holder_Management_Stake_Holder_Database](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_size] [varchar](20) NULL,
	[file_blob] [image] NULL,
	[title] [varchar](5000) NULL,
	[body] [varchar](max) NULL,
	[data_type] [int] NULL,
	[year] [int] NULL,
 CONSTRAINT [PK_tbl_Stake_Holder_Management_Stake_Holder_Database] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Struktur_Organisasi_Anggota]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Struktur_Organisasi_Anggota](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](500) NULL,
	[nip] [varchar](500) NULL,
	[telp] [varchar](500) NULL,
	[email] [varchar](500) NULL,
	[jabatan_id] [int] NULL,
	[jabatan_nama] [varchar](500) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Struktur_Organisasi_Diagram_Corcom]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Struktur_Organisasi_Diagram_Corcom](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jabatan_id] [int] NULL,
	[jabatan_nama] [varchar](500) NULL,
	[parent_id] [int] NULL,
	[parent_jabatan_id] [int] NULL,
	[parent_jabatan_nama] [varchar](500) NULL,
	[seq] [int] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[group_id] [int] NULL,
 CONSTRAINT [PK_tbl_Struktur_Organisasi_Corcom] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Struktur_Organisasi_Diagram_Corsec]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Struktur_Organisasi_Diagram_Corsec](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jabatan_id] [int] NULL,
	[jabatan_nama] [varchar](500) NULL,
	[parent_id] [int] NULL,
	[parent_jabatan_id] [int] NULL,
	[parent_jabatan_nama] [varchar](500) NULL,
	[seq] [int] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
	[group_id] [int] NULL,
 CONSTRAINT [PK_tbl_Struktur_Organisasi_Detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Struktur_Organisasi_Jabatan]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Struktur_Organisasi_Jabatan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Nama_Organisasi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_User](
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](1000) NULL,
	[LastLogin] [datetime] NULL,
	[IsLogin] [int] NULL,
	[IPAddress] [varchar](15) NULL,
	[MachineName] [varchar](100) NULL,
	[IsActive] [int] NULL,
	[FullName] [varchar](500) NULL,
 CONSTRAINT [PK__tbl_user__536C85E5CE8016C7] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_User_Role]    Script Date: 16/02/2021 00.37.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_User_Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NULL,
	[RoleID] [int] NULL,
 CONSTRAINT [PK_tbl_userrole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tbl_Privilege]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Privilege_tbl_Menu] FOREIGN KEY([MenuID])
REFERENCES [dbo].[tbl_Menu] ([ID])
GO
ALTER TABLE [dbo].[tbl_Privilege] CHECK CONSTRAINT [FK_tbl_Privilege_tbl_Menu]
GO
ALTER TABLE [dbo].[tbl_Privilege]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Privilege_tbl_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[tbl_Role] ([ID])
GO
ALTER TABLE [dbo].[tbl_Privilege] CHECK CONSTRAINT [FK_tbl_Privilege_tbl_Role]
GO
ALTER TABLE [dbo].[tbl_User_Role]  WITH CHECK ADD  CONSTRAINT [FK_tbl_User_Role_tbl_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[tbl_Role] ([ID])
GO
ALTER TABLE [dbo].[tbl_User_Role] CHECK CONSTRAINT [FK_tbl_User_Role_tbl_Role]
GO
ALTER TABLE [dbo].[tbl_User_Role]  WITH CHECK ADD  CONSTRAINT [FK_tbl_User_Role_tbl_User] FOREIGN KEY([Username])
REFERENCES [dbo].[tbl_User] ([Username])
GO
ALTER TABLE [dbo].[tbl_User_Role] CHECK CONSTRAINT [FK_tbl_User_Role_tbl_User]
GO
