<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="Custom.Config" type="Custom.Config.CustomSection, Custom.Config" />
  </configSections>
  <Custom.Config>
    <Default applicationName="PPID" connectionStringName="ConnString" />
    <Entities>
      <add assembly="DBHelper" connectionStringName="ConnString" />
    </Entities>
  </Custom.Config>
  <appSettings>
    <clear />
    <add key="Domain" value="https://eppid.pertamina.com" />
  </appSettings>
  <connectionStrings>
    <clear />
    <!--<add name="ConnString" connectionString="Data Source=H6364640317VM\SQLEXPRESS;Initial Catalog=ppid;Persist Security Info=True;User ID=sa;Password=saP@ssw0rd!;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnString" connectionString="Data Source=DESKTOP-5BJROPJ\SQLSVR2K12;Initial Catalog=ppid;Persist Security Info=True;User ID=sa;Password=sa123;" providerName="System.Data.SqlClient"/>-->
    <add name="ConnString" connectionString="Server=tcp:sql-eppid.database.windows.net,1433;Initial Catalog=db-eppid.pertamina.com;Persist Security Info=False;User ID=dbeppidapp;Password=dbeppid.pass123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<system.net>
		<mailSettings>
			<smtp from="ppid.noreply@gmail.com" deliveryMethod="Network">
				<network host="ppid.noreply@gmail.com" defaultCredentials="true" userName="ppid.noreply" password="P3rtamin@" />
			</smtp>
		</mailSettings>
	</system.net>-->
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="100000" />
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Home.apsx" timeout="2880" requireSSL="false" cookieless="UseCookies" defaultUrl="~/Home.aspx" />
    </authentication>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
<!--<customErrors mode="Off"/>-->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="~/Admin">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: {378A4869-56D1-401D-A8D8-6319FC8B4EB6}-->